.container{
    padding: 10px;
    border-radius:10px;
    height:100px;
    width:400px;
    margin:auto;
    background-color: #4B504b;
    box-shadow:0px 0px 10px bLACK;
}
.display_box{
    font-family:'orbitron',sans-serif;
    border:1px solid black;
    color:black;
    border-radius: 5px;
    width:98%;
    height:80%;
    background-color: white;
}
#btn{
    background-color: #71e089;
}
input[type=button]{
    font-family: 'orbiton',sans-serif;
    background-color: #fefdff;
    border:1px solid rgb(4,253, 13);
    color:rgb(84,116,85);
    width: 80%;
    height:90%;
    border-radius: 5px;
    outline:none;
}
input:active[type=button]{
    background-color: #504f52;
    box-shadow: 0px 0px 10px black;
}
body{
  background-color: rgb(123, 203, 232);  
}